<!--body wrapper start-->
<!-- <div class="modal-body"> -->
<div class="panel panel-primary" >
		<div class="panel-heading">
			Detail Activity Chance
		</div>
		
		<div class="panel-body" collapse="isCollapsed">
			<table class="table  table-hover general-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Date Activity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{username}}</td>
                    <td>{{activityDate}}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-default" ng-click="close()">Close</button>
		</div>
</div> 
<!-- </div> -->