<!-- page heading start-->
<div class="page-heading">
    <h3>{{judul}}</h3>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <a href="#/channel/add" class="btn btn-primary">Tambah</a>
                <button class="btn btn-success" ng-click="showData()">Show</button>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="panel" ng-repeat="item in channelFactory.dataChannel">
            <div class="panel-body">
                <div class="media usr-info">
                    <a href="#" class="pull-left">
                        <img class="thumb" ng-src="logo_channel/{{item.logo}}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{item.nama_channel}}</h4>
                        <span>{{item.email}}</span><br/>
                        <span>{{item.nama_kota}}</span>
                        <!--<p ng-bind-html="renderHtml(item.deskripsi)"></p>-->
                    </div>
                </div>
            </div>
            <div class="panel-footer custom-trq-footer">
                <ul class="user-states">
                    <li>
                        <i class="fa fa-heart"></i> 127
                    </li>
                    <li>
                        <i class="fa fa-eye"></i> 853
                    </li>
                    <li>
                        <i class="fa fa-user"></i> 311
                    </li>
                </ul>
            </div>
        </div>

        </div>
    </div>

</div>
<!--body wrapper end-->



