<!-- page heading start-->
<div class="page-heading">
    <h3>{{judul}}</h3>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <button class="btn btn-default" ng-click="test()"> TEST</button>

    <form name="myForm">
        <img class="button thumbnail-borderless" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" required
             accept="image/*" ngf-max-size="20MB" ngf-min-height="100" ngf-src="file || 'img/noImageAvailable.jpg'"
                />
        <label ng-show="file.$error.minHeight">Gambar terlalu kecil</label>
        <!--<img ngf-src="file || '../logo_channel/noimage.png'" class="thumbnail-borderless" name="file">-->
        <button type="submit" ng-click="submit()">submit</button>
    </form>
    <input type="date" ng-model="tanggal"><button ng-click="view(tanggal)">view</button>


    <!--<input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="">-->
    <!--<my-date-picker class="form-control"  ></my-date-picker>-->

{{selectedDate}}
   <!--<p class="input-group">-->
       <!--<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"-->
              <!--is-open="status.opened" min-date="minDate" max-date="maxDate" show-weeks ="false"-->
              <!--ng-required="true" close-text="Close" />-->
       <!--<span class="input-group-btn">-->
           <!--<button type="button" class="btn btn-default" ng-click="open($event)">-->
               <!--<i class="fa fa-calendar"></i>-->
           <!--</button>-->

       <!--</span>-->
   <!--</p>-->
    <div class="form-group">
        <input type="text" class="form-control" date-type="string" model-date-format="yyyyMMdd" autoclose="true"  date-format="dd MMM yyyy" ng-model="selectedDate" name="date" bs-datepicker>
    </div>
    <button class="btn btn-danger" ng-click="saveConfig()">Save Config</button>
    {{user}}
</div>
<!--body wrapper end-->



