<!-- page heading start-->
<div class="page-heading">
    <h3>Add Event</h3>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
	<div class="panel panel-default" >
		<div class="panel-heading">
			Form Event
			<span class="tools pull-right">
				<a href="javascript:;" ng-click="isCollapsed = !isCollapsed" class="fa fa-chevron-down"></a>
			</span>
		</div>
		
		<div class="panel-body" collapse="isCollapsed">
			<form class="form-horizontal adminex-form" ng-submit="simpan(event)">
				<div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Nama Event</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="event.nama_event" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Deskripsi</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="event.deskripsi" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Tgl. Berkahir</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" date-type="string" model-date-format="yyyyMMdd" autoclose="true"  date-format="dd MMM yyyy" ng-model="event.akhir_event" name="date" bs-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Bonus Point</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" ng-model="event.jumlah_point" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Jumlah Coupon</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" ng-model="event.jumlah_coupon" required>
                </div>
            </div>
                
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                
			</form>
		</div>
	</div>
</div>
